@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.kadhaiMainContainer{
    padding:40px;
    position: 'relative';
}
.kadhaiHeading{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: Roboto ;
    font-weight: 500;
}
.kadhai{
    font-family: Roboto ;
    font-weight: 300;
    font-size:18px;
    font-style: normal;
    text-Indent: '50px';
    padding-Left: '10px';
    padding-Right: '10px';
}